@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding : 1rem 150px 1rem 150px;
    font-family: 'Kumbh Sans', sans-serif;  
}

.icon-menu{
    display : none;
}
.bar{

    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid hsl(219, 9%, 45%);;
}
.div1{
    width:70%;
    display: flex;
    list-style-type: none;
}


.menu{
    color:  hsl(219, 9%, 45%);
    display: flex;
    list-style-type: none;
    margin-left: 3rem;
}

.menu li{
    margin-left: 0.5rem;
}

.div2{
    width:30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.avatar{
    margin-left: 0.5rem;
}

.avatar-photo{
    height: 40px;
    width: 40px;
}
.card{
    display: flex;
    margin-top: 3rem;
}
.division1{
    width: 50%;
    height: 100%;
}
.container{
    height: 80%;
    width: 80%;
}
.img{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}
.four{
    width: 80%;
    height: 20%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#opaque{
width: 85px;
height: 85px;
border-radius: 9px;
border: hsl(26, 100%, 55%) 5px solid;
filter:opacity(40%);
}
.image{
    width: 85px ;
    height: 85px;
    border-radius: 9px;
}
.division2{
    width: 50%;
    height: 90%;
    margin-left: 30px;
    margin-top: 40px;
}
.orange{
    margin-left: 10px;
    color: hsl(26, 100%, 55%);
    padding-bottom: 20px;
}
h1{
    font-size:50px;
}
.fall{
    margin-bottom: 30px;
}
h4{
    font-weight: normal;
}
#low{
    margin-bottom: 20px;
    color:  hsl(219, 9%, 45%);
}
.price{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.reduction{
    text-align: center;
    margin-left: 30px;
    width: 45px;
    height: 23px;
    color:hsl(26, 100%, 55%) ;
    background-color: #facaa7;
    border: #facaa7 3px solid;
    border-radius: 5px;
}
.etc{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    display: flex; 
}
.chosen{
    width:  33%;
    height: 70px;
    margin-left: 10px;   
}
.cadre{
    border: rgb(236, 233, 233) solid;
    width: 150px;
    height: 45px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
    background-color: rgb(236, 233, 233);
}
.plus{
    margin-left: 50px;
    margin-top: 10px;
}
.zero{
    margin-left: 50px;
}
.adding{
border: 4px solid  hsl(26, 100%, 55%);
border-radius: 7px;
width: 50%;
height: 45px;
background-color: hsl(26, 100%, 55%) ;
display: flex;
align-items: center;
justify-content: center;
}
.chariot{
    width: 40%;
    margin-right: 10px;
}
.char{
    height: 14px;
    margin-left: 60px;
}
.scribe{
    margin-left: 15px;
    margin-right: 20px;
    width: 70%;
    height: 20px;
}
.add{
    color: white;
    font-size: x-small;
}


@media screen and (max-width: 768px){
    body {
        padding : 0;
    }

    .menu{
        display: none;
    }

    .bar{
        padding : 0.5rem 1.5rem 0.5rem 1.5rem;
        border-bottom: none;
    }
    .icon-menu{
        display : inline;
    }

    .card{
       flex-direction: column;
       margin-top: 0;
    }

    .four{
        display: none;
    }

    .division1{
        width : 100%;
        height : auto;
    }
    .container {
        width : 100%;
        height : auto;
    }
    .container img{
        border-radius: 0;
    }
}

