body { 
    background-color: white;
    height: 100vh;
}

.bar{
    width: 100%;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 10%; 
    margin-right: 60px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:43% ;
margin: 0px;
padding: 0px;
list-style-type: none;
font-size: small;
margin-right: 190px;
margin-left: 70px;
}
.left{
    width: 10%;
margin-left: 110px;
display: flex;
justify-content: space-between;
}


